@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h3osd7');
  src:  url('fonts/icomoon.eot?h3osd7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h3osd7') format('truetype'),
    url('fonts/icomoon.woff?h3osd7') format('woff'),
    url('fonts/icomoon.svg?h3osd7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-card-vector1:before {
  content: "\e900";
}
.icon-card-vector2:before {
  content: "\e901";
}
.icon-card-vector3:before {
  content: "\e902";
}
.icon-card-vector4:before {
  content: "\e903";
}
