.navigation
    &__toggle
        display: none

    &__button
        background: $color-white
        height: 7rem
        width: 7rem
        border-radius: 50%
        position: fixed
        right: 10rem
        top: 10rem
        z-index: 110
        text-align: center
        cursor: pointer
        box-shadow: $shadow
        @include respond(tab-land)
            height: 6rem
            width: 6rem
            right: 6rem
            top: 6rem
    &__background
        width: 5.5rem
        height: 5.5rem
        border-radius: 50%
        background: radial-gradient($color-brown-light, $color-brown-dark)
        position: fixed
        right: 10.8rem
        top: 10.8rem
        z-index: 100
        transition: .7s all
        @include respond(tab-land)
            height: 4rem
            width: 4rem
            right: 6.5rem
            top: 6.5rem
    &__nav
        height: 100vh
        position: fixed
        top: 0
        right: 0
        z-index: 105

        opacity: 0
        width: 0%
        transition: .7s all cubic-bezier(0.68, -0.6, 0.32, 1.6)

    &__list
        list-style: none
        position: absolute
        top: 50%
        left: 50%
        width: 0
        opacity: 0
        transform: translate(-50%, -50%)

    &__item
        text-align: center
        width: 100%
        &:not(:last-child)
            margin-bottom: 5rem
            @include respond(tab-land)
                margin-bottom: 4rem
            @include respond(tab-port)
                margin-bottom: 3rem
            @include respond(phone)
                margin-bottom: 2rem

    &__link
        &:link, &:visited
            font-size: 4rem
            text-decoration: none
            color: $color-white
            letter-spacing: .5rem
            text-transform: uppercase
            background: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%)
            background-size: 220%
            padding: 1rem 2rem
            transition: .4s all
            display: inline-block
            @include respond(tab-land)
                font-size: 3.5rem
            @include respond(tab-port)
                font-size: 3rem
            @include respond(phone)
                font-size: 2.5rem

        &:hover, &:active
            background-position: 100%
            color: $color-brown-dark
            transform: translateX(1rem)
    
    &__toggle:checked ~ &__background
        transform: scale(100)
    
    &__toggle:checked ~ &__nav
        width: 100%
        opacity: 1

    &__toggle:checked ~ &__nav &__list
        width: 100%
        opacity: 1
        
    &__icon
        margin-top: 3.5rem
        position: relative
        @include respond(tab-land)
            margin-top: 3rem
        &, &::before, &::after
            width: 3rem
            height: .2rem
            background: $color-black
            display: inline-block
        &::before, &::after
            content: ""
            position: absolute
            left: 0
            transition: .2s all
        &::before
            top: -1rem
        &::after
            top: 1rem


    &__button:hover &__icon::before
        top: -1.2rem
    &__button:hover &__icon::after
        top: 1.2rem
        
    &__toggle:checked + &__button &__icon
        background: transparent
    &__toggle:checked + &__button &__icon::before
        top: 0
        transform: rotate(-135deg)
    &__toggle:checked + &__button &__icon::after
        top: 0
        transform: rotate(135deg)